

  <p id="notice"><%= notice %></p>

  <h1>Teachers</h1>

<%= will_paginate @teachers %>

  <table class="table table-striped, table-bordered">
    <thead>
      <tr>
        <th><%= sortable "teacher_id"%></th>
        <th><%= sortable "teacher_name"%></th>
        <th><%= sortable "school_name" %></th>
        <th><%= sortable "school_year"%></th>
        <th colspan="3"></th>
      </tr>
    </thead>

  <tbody>
      <% @teachers.each do |teacher| %>
        <tr>
          <td><%= teacher.teacher_id %></td>
          <td><%= teacher.teacher_name %></td>
          <td><%= teacher.school_name %></td>
          <td><%= teacher.school_year %></td>
          <td><%= link_to 'Show', teacher %></td>
          <td><%= link_to 'Edit', edit_teacher_path(teacher)%></td>
          <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'delete_teacher' %></td>
        </tr>
      <% end %>
  </tbody>
  </table>
<br>



<%= link_to 'New Teacher', new_teacher_path, class: "new-teacher-button"%>
